<!-- edit.ejs -->
<%- include('../layout') %>

<div class="container mt-4">
  <h1 class="mb-4">Edit Expense</h1>
  <form action="/expenses/<%= expense._id %>/edit" method="POST">
    <div class="form-group">
      <label for="description">Description:</label>
      <input type="text" id="description" name="description" value="<%= expense.description %>" class="form-control">
    </div>
    <div class="form-group">
      <label for="amount">Amount (Birr):</label>
      <input type="number" id="amount" name="amount" value="<%= expense.amount %>" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>

<%- include('../partials/footer') %>
